$main-content-sizing: 95%;
$window-max-width-limit: 540px;
$window-max-height-limit: 580px;
$background-container-color-to: hsl(268, 80%, 35%);
$background-container-color-fro: hsl(313, 100%, 37%);
$background-container-color: linear-gradient($background-container-color-to, $background-container-color-fro);
$main-content-coloring: linear-gradient(hsla(0, 0%, 8%, 0.612), hsla(0, 0%, 100%, 0.225));
$default-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$default-font-color: hsl(243, 83%, 95%);
$main-content-border-color: hsla(0, 0%, 50%, 0.55);

$welcome-initial-font-size: 1.7rem;
$welcome-final-font-size: 1.9rem;
$welcome-animation-final-color: hsl(249, 100%, 89%);
$welcome-animation-margin-delta: 2%;

$accent-color-1:rgba(85, 18, 161, 0.46);