$main-content-sizing: 95%;
$window-max-width-limit: none;
$window-max-height-limit: none;
$background-container-color: linear-gradient(hsl(268, 80%, 35%),hsl(313, 100%, 37%));
$main-content-coloring: linear-gradient(hsla(0, 0%, 8%, 0.612), hsla(0, 0%, 100%, 0.225));
$default-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$default-font-color: hsl(243, 83%, 95%);
$main-content-border-color: hsla(0, 0%, 50%, 0.55);

$welcome-initial-font-size: 1.7rem;
$welcome-final-font-size: 1.9rem;
$welcome-animation-final-color: hsl(249, 100%, 89%);
$welcome-animation-margin-delta: 2%;
