$main-content-sizing: 95%;
$window-max-width-limit: none;
$window-max-height-limit: none;
$background-container-color: linear-gradient(hsl(268, 80%, 35%),hsl(313, 100%, 37%));
$main-content-coloring: linear-gradient(hsla(0, 0%, 8%, 0.612), hsla(0, 0%, 100%, 0.225));
$default-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$default-font-color: hsl(243, 83%, 95%);

$welcome-initial-font-size: 2.8rem;
$welcome-final-font-size: 3.1rem;
$welcome-animation-final-color: hsl(138, 100%, 92%);
$welcome-animation-margin-delta: 2%;
